body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.nav{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
  }
.nav a{
    text-decoration: none;
    color: white;
}
.nav p{
    margin-left: 50px;
  }
.nav p:hover{
    border-bottom: 3px solid #0df3e5;
  }

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

main {
    padding: 20px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.contact-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2,
.contact-form h2 {
    color: #333;
}

.contact-info p {
    color: #555;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
